$primary-black: #141714;
$primary-white: #fff;

$dark-grey: #373d37;
$medium-grey: #848f84;
$light-grey: #bbc4bb;

$dark-blue: #00408f;
$medium-blue: #425fff;
$light-blue: #b3bfff;

$dark-orange: #d75f00;
$medium-orange: #ffaa00;
$light-orange: #ffdd99;

$dark-green: #064105;
$medium-green: #146b1c;
$light-green: #8ce59b;

$dark-red: #a60000;
$medium-red: #e63e3e;
$light-red: #f5b2b2;
$extra-light-red: #fef8f8;